#img1   {


    width: 400px;
    margin-left: 450px;
    margin-right: 400px;
    margin-top: -20px;
    text-align: center;
    display: flex;

flex-direction: row;

}




#myname  {


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: -40px;
    margin-left:  570px;
    display: flex;
    text-align: center;
    flex-direction: row;
    font-size: 20px;
}





#img2 {

    width: 280px;
    margin-left: 509px;
    margin-right: 400px;
    margin-top: -280px;
    text-align: center;
    padding-top: -800px;
    display: flex;
    flex-direction: row;

}

#butone {

    background-color: rgb(255, 255, 255);
    padding: 3px 8px;
    border-radius: 10px;

    margin-left: 617px;
    margin-top: 8px;
    color: rgb(0, 47, 255);
    
    
}

#sdiv {

    display: flex;
    flex-direction: column;

}



#img3 {

    width: 400px;

    margin-left: 450px;
    margin-right: 400px;
    margin-top: 160px;
    text-align: center;
    display: flex;
    flex-direction: row;

}



#headingone {

     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(241, 97, 0);
    margin-top: -280px;
    margin-left:  520px;
    display: flex;
    text-align: center;
    flex-direction: row;
    font-size: 20px;
    margin-bottom: -300px;


}

#headingthree {


     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 310px;
    margin-left:  520px;
    display: flex;
    text-align: center;
    flex-direction: row;
    font-size: 20px;
    margin-bottom: -300px;

    font-size: 10px;




}

#img11 {


    width: 170px;
    margin-left: 520px;
    margin-top: 303px;

    height: 100px;

    border: 2px solid gray;
    border-radius: 50%;




}



#btn2 {

    background-color: rgb(180, 176, 176);
    padding: 3px 8px;
    border-radius: 10px;

    margin-left: 672px;
    margin-top: -20px;
    color: rgb(0, 0, 0);

    display: inline;

    width: 125px;



}


#img4  {


    width: 700px;
    margin-top: 150px;
    text-align: center;
    display: inline;
    margin-left: 310px;
    margin-right: auto;


}



#tdiv {



    display: flex;
    flex-direction: column;


}


#img5 {


    width: 300px;
    height: 160px;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 20px;
    margin-top: -535px;
    text-align: center;
    display: inline;
    margin-left: 410px;
    margin-right: auto;




}


#img6 {


    width: 300px;
    height: 160px;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 20px;
    margin-top: 0px;
    text-align: center;
    display: inline;
    margin-left: 410px;
    margin-right: auto;


}


#btn3 {
    
    background-color: rgb(180, 176, 176);
    padding: 3px 8px;
    border-radius: 10px;

    margin-left: 750px;
    margin-top: -100px;
    color: rgb(0, 0, 0);

    display: inline;

    width: 125px;

}

#btn4 {

    background-color: rgb(180, 176, 176);
    padding: 3px 8px;
    border-radius: 10px;

    margin-left: 750px;
    margin-top: -190px;
    color: rgb(0, 0, 0);

    display: inline;

    width: 125px;

}

a {

    text-decoration: none;
    color: rgb(0, 0, 0);





}
